<div class="container">
    <div class="tax-form-wrapper">
        <form [formGroup]="taxForm" (ngSubmit)="onCalculate()" class="tax-form">
            <div class="tax-form--field incomeControl">
                <label for="income">
                    <input type="text" placeholder="Enter income" formControlName="income" mvndrMatCurrencyFormat
                        [allowNegative]="false" [currencyCode]="'USD'" />
                </label>
            </div>

            <div class="tax-form--field frequencyControl">
                <ng-container *ngFor="let choice of frequencyValues">
                    <div class="frequencyControl--radio">
                        <input id="frequency" type="radio" [value]="choice" name="frequency"
                            formControlName="frequency">
                        <label for="frequency">{{choice}}</label>
                    </div>
                </ng-container>
            </div>

            <div class="tax-form--field zipCodeControl">
                <label for="zipcode">
                    <input type="text" placeholder="Zip Code" formControlName="zipcode" />
                </label>
            </div>

            <button class="tax-form--button primary-btn" type="submit">Calculate</button>
        </form>
    </div>

    <ng-container *ngIf="calculatedTax">
        <div class="tax-summary-wrapper">
            <div role="heading" aria-level="2" aria-labelledby="stateTitle state"  class="flex-row">
                <p class="md-text-bold" id="stateTitle">State</p>
                <p class="sm-text" id="state">{{state}}</p>
            </div>
            <div role="heading" aria-level="2" aria-labelledby="taxFormulaLabel taxFormula" class="flex-row">
                <p class="md-text-bold" id="taxFormulaLabel">Tax Formula</p>
                <p class="sm-text" id="taxFormula">{{calculatedTax?.formula}}</p>
            </div>
            <ng-container [ngSwitch]="calculatedTax?.formula">
                <div *ngSwitchCase="'Progressive'">
                    <div class="xs-text breakdown"
                        *ngFor="let bracket of calculatedTax?.calculatedBrackets; index as i; first as fixedRate">
                        <div role="heading" aria-level="2" aria-labelledby="firstBracket firstBracketAmount" *ngIf="fixedRate" class="flex-row">
                            <p class="sm-text" id="firstBracket">
                                {{bracket.bracket['lowerRange'] | currency}} to
                                {{bracket.bracket['upperRange'] | currency }} taxed at fixed rate of
                            </p> 
                            <p class="sm-text" id="firstBracketAmount">{{bracket.bracket['rate'] | currency}}</p>
                        </div>
                        <div role="heading" aria-level="2" aria-labelledby="brackets taxableBracketAmount" *ngIf="!fixedRate" class="flex-row">
                            <p class="sm-text" id="brackets">
                                {{bracket.bracket['lowerRange'] | currency}} to
                                {{bracket.bracket['upperRange'] | currency }} at {{bracket.bracket['rate'] | percent}} is
                            </p> 
                            <p class="sm-text" id="taxableBracketAmount"> {{bracket.amount | currency}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div role="heading" aria-level="2" aria-labelledby="totalTaxLabel totalTax" class="flex-row">
                <p class="md-text-bold" id="totalTaxLabel"><strong>Total Tax:</strong></p>
                <p class="lg-text-bold" id="totalTax">{{calculatedTax?.tax | currency }}</p>
            </div>
        </div>
    </ng-container>
</div>