

input {
    font-size: var(--text-sm);
    border: none;
    border-bottom: 1px solid;
    line-height: 25px;
}

.tax-form-wrapper {
    margin-bottom: 20px;
}
.tax-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    max-width: 400px;
}
.tax-form--button {
    margin-top: 10px;
    margin-left: 15px;
}
.tax-form--field {
    margin: 5px 0;
}

.frequencyControl {
    display: flex;
    flex-direction: column;
}

.frequencyControl--radio {
    margin: 5px 0;
}

.tax-summary-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.tax-summary-item {
    display: flex;
    max-width: 100%;
    margin: 10px 0;
}
.tax-summary-item h1 {
    margin-right: 25px;
    width: 50%;
}

.tax-summary-item h2 {
    width: 50%
}

.breakdown {
    min-width: 450px;
}